<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabbed Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 200px;
            float: left;
            height: 100%;
        }

        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 10px 20px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tabcontent {
            display: none;
            padding: 20px;
            border: 1px solid #ccc;
            border-top: none;
            margin-left: 201px
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 7px 0;
            text-align: center;
            vertical-align: middle;
        }

        .logout {
            float: right;
            padding: 10px 20px;
            background-color: #ff0000;
            color: white;
            border: none;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            border: 1px solid #dddddd;
            padding: 20px;
            display: contents;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }

        th {
            background-color: #555;
            color: white;
            font-size: 16px;
        }

        tbody tr:nth-child(even) {
            background-color: #c4c4c4;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        th,
        td {
            border-radius: 5px;
        }

        .completed-btn {
            background-color: green;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .delete-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .edit-btn {
            background-color: orchid;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            display: none;
        }

        .modal.show {
            display: block;
        }

        .modal-content.show {
            display: block;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .expired {
            color: #ff0000;
        }
    </style>
</head>

<body>

    <header>
        <h1>Pharmacy Database</h1>
        <button class="logout" onclick="location.href='/logout'">Logout</button>
    </header>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Page1')"><img src="/frontend/img/mail.png" alt="Mail"
                width="150px"></button>
        <button class="tablinks" onclick="openTab(event, 'Page2')"><img src="/frontend/img/pill.png" alt="Pill"
                width="150px"></button>
        <button class="tablinks" onclick="openTab(event, 'Page3')"><img src="/frontend/img/billing.png" alt="Billing"
                width="150px"></button>
    </div>

    <div id="Page1" class="tabcontent">
        <center>
            <h3>NOTIFICATIONS</h3>
        </center>
        <div ng-controller="TableController1">
            <table>
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="notif in notifs | orderBy:'priority'">
                        <td>{{$index + 1}}</td>
                        <td
                            ng-style="{'color': notif.priority == 1 ? 'red' : (notif.priority == 2 ? 'yellow' : 'green')}">
                            {{ notif.detail }}</td>
                        <td>
                            <button class="completed-btn" ng-click="markAsCompleted(notif.notificationId)">
                                Completed
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form ng-submit="addNotif()" style="padding-top: 10px;">
                <input type="text" ng-model="newNotif.detail" placeholder="Task" required>

                <input type="radio" ng-model="newNotif.priority" value="1" id="priority1">
                <label for="priority1" style="color: red;">High</label>

                <input type="radio" ng-model="newNotif.priority" value="2" id="priority2">
                <label for="priority2" style="color: #FFD700;">Medium</label>

                <input type="radio" ng-model="newNotif.priority" value="3" id="priority3">
                <label for="priority3" style="color: green;">Low</label>

                <button type="submit">Add Task</button>
            </form>

        </div>
    </div>

    <div id="Page2" class="tabcontent">
        <div>
            <center>
                <h3>DATABASE</h3>
            </center>
            <button class="tablinks" id="tab1Button">Doctors</button>
            <button class="tablinks" id="tab2Button">Patients</button>
            <button class="tablinks" id="tab3Button">Suppliers</button>
            <button class="tablinks" id="tab4Button">Medicine</button>
            <button class="tablinks" id="tab5Button">Batch</button>
        </div>

        <div>
            <div id="Tab1" style="display: none;">
                <h3>Doctors</h3>
                <div ng-controller="TableController2">
                    <table>
                        <thead>
                            <tr>
                                <th>Doctor ID</th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Work Address</th>
                                <th>Speciality</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="doc in doctor | orderBy:'doc_id'">
                                <td>{{ doc.doc_id }}</td>
                                <td>{{ doc.doc_name }}</td>
                                <td>{{ doc.doc_mobile }}</td>
                                <td>{{ doc.doc_work_address }}</td>
                                <td>{{ doc.doc_speciality }}</td>
                                <td>
                                    <button class="delete-btn" ng-click="deleteDoctor(doc.doc_id)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Add New Doctor</h3>
                    <input type="text" ng-model="newDoc.doc_id" placeholder="Doctor ID" required><br>
                    <input type="text" ng-model="newDoc.doc_name" placeholder="Name" required><br>
                    <input type="text" ng-model="newDoc.doc_mobile" placeholder="Mobile Number" required
                        ng-pattern="/^\d{10}$/" ng-maxlength="10" ng-minlength="10"><br>
                    <input type="text" ng-model="newDoc.doc_work_address" placeholder="Work Address" required><br>
                    <input type="text" ng-model="newDoc.doc_speciality" placeholder="Speciality" required><br>
                    <button ng-click="addDoctor()">Add Doctor</button>
                </div>
            </div>

            <div id="Tab2" style="display: none;">
                <h3>Patients</h3>
                <div ng-controller="TableController3">
                    <table>
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Address</th>
                                <th>Sex</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patient in patients | orderBy:'Patient_id'">
                                <td>{{ patient.patient_id }}</td>
                                <td>{{ patient.patient_name }}</td>
                                <td>{{ patient.patient_mobile }}</td>
                                <td>{{ patient.patient_address }}</td>
                                <td>{{ patient.sex }}</td>
                                <td>
                                    <button class="delete-btn" ng-click="deletePatient(patient.patient_id)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Add New Patient</h3>
                    <input type="text" ng-model="newPatient.patient_id" placeholder="Patient ID" required><br>
                    <input type="text" ng-model="newPatient.patient_name" placeholder="Name" required><br>
                    <input type="text" ng-model="newPatient.patient_mobile" placeholder="Mobile Number" required
                        ng-pattern="/^\d{10}$/" ng-maxlength="10" ng-minlength="10"><br>
                    <input type="text" ng-model="newPatient.patient_address" placeholder="Address" required><br>
                    <input type="text" ng-model="newPatient.sex" placeholder="Sex" required><br>
                    <button ng-click="addPatient()">Add Patient</button>
                </div>
            </div>


            <div id="Tab3" style="display: none;">
                <h3>Suppliers</h3>
                <div ng-controller="TableController4">
                    <table>
                        <thead>
                            <tr>
                                <th>Supplier ID</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sup in supplier | orderBy:'supplier_id'">
                                <td>{{ sup.supplier_id }}</td>
                                <td>{{ sup.supplier_name }}</td>
                                <td>{{ sup.supplier_location }}</td>
                                <td>
                                    <button class="delete-btn" ng-click="deleteSupplier(sup.supplier_id)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Add New Supplier</h3>
                    <input type="text" ng-model="newSup.supplier_id" placeholder="Supplier ID" required><br>
                    <input type="text" ng-model="newSup.supplier_name" placeholder="Name" required><br>
                    <input type="text" ng-model="newSup.supplier_location" placeholder="Supplier Location" required><br>
                    <button ng-click="addSupplier()">Add Supplier</button>
                </div>
            </div>

            <div id="Tab4" style="display: none;">
                <h3>Medicine</h3>
                <div ng-controller="TableController5">
                    <table>
                        <thead>
                            <tr>
                                <th>Medicine ID</th>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Cost Per Unit</th>
                                <th>Type</th>
                                <th>OTC</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="med in medicines | orderBy:'Med_id'">
                                <td>{{ med.Med_id }}</td>
                                <td>{{ med.Med_name }}</td>
                                <td>{{ med.Med_company }}</td>
                                <td>{{ med.Med_cost_unit }}</td>
                                <td>{{ med.Med_type }}</td>
                                <td>{{ med.Is_OTC }}</td>
                                <td>
                                    <button class="delete-btn" ng-click="deleteMedicine(med.Med_id)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Add New Medicine</h3>
                    <input type="text" ng-model="newMed.Med_id" placeholder="Medicine ID" required><br>
                    <input type="text" ng-model="newMed.Med_name" placeholder="Name" required><br>
                    <input type="text" ng-model="newMed.Med_company" placeholder="Company" required><br>
                    <input type="number" ng-model="newMed.Med_cost_unit" placeholder="Cost Per Unit" required><br>
                    <input type="text" ng-model="newMed.Med_type" placeholder="Type"><br>
                    <label>Is OTC:</label>
                    <select ng-model="newMed.Is_OTC" required>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                    <button ng-click="addMedicine()">Add Medicine</button>
                </div>
            </div>

            <div id="Tab5" style="display: none;">
                <h3>Batches</h3>
                <div ng-controller="TableController6">
                    <table>
                        <thead>
                            <tr>
                                <th>Batch ID</th>
                                <th>Timestamp(Added)</th>
                                <th>Supplier ID</th>
                                <th>Medicine ID</th>
                                <th>Quantity</th>
                                <th>Expiry Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="batch in batches | orderBy:'Batch_id'"
                                ng-class="{ 'expired': isExpired(batch.Batch_expiry) }">
                                <td>{{ batch.Batch_id }}</td>
                                <td>{{ batch.Batch_timestamp }}</td>
                                <td>{{ batch.Supplier_id }}</td>
                                <td>{{ batch.Med_id }}</td>
                                <td>{{ batch.Batch_qty }}</td>
                                <td>{{ batch.Batch_expiry }}</td>
                                <td>
                                    <button class="delete-btn" ng-click="deleteBatch(batch.Batch_id)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Add New Batch</h3>
                    <input type="text" ng-model="newBatch.Batch_id" placeholder="Batch ID" required><br>
                    <input type="text" ng-model="newBatch.Supplier_id" placeholder="Supplier ID" required><br>
                    <input type="text" ng-model="newBatch.Med_id" placeholder="Medicine ID" required><br>
                    <input type="text" ng-model="newBatch.Batch_qty" placeholder="Quantity" required><br>
                    <input type="date" ng-model="newBatch.Batch_expiry" required><br>
                    <button ng-click="addBatch()">Add Batch</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Page3" class="tabcontent">

        <div ng-controller="TableController7">
            <h3>Patient Prescriptions</h3>

            <div>
                <label for="patientId">Patient ID:</label>
                <input type="number" id="patientId" ng-model="patientId" placeholder="Patient ID"><br>
                <button ng-click="checkPatientId()">Submit</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Prescription ID</th>
                        <th>Doctor ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in patientData">
                        <td>{{ data.prescriptionId }}</td>
                        <td>{{ data.doctorId }}</td>
                        <td><button class="completed-btn" ng-click="bill(data.prescriptionId)">Bill</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>

        <div ng-controller="BillingController">
            <h3>Billing</h3>
            <table>
                <thead>
                    <tr>
                        <th>Medicine ID</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bill in prescData">
                        <td>{{ bill.medId }}</td>
                        <td>{{ bill.medName }}</td>
                        <td>{{ bill.medQty }}</td>
                        <td>{{ bill.cost }}</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="med in addedotcmeds">
                        <td>{{ med.medId }}</td>
                        <td>{{ med.medName }}</td>
                        <td>{{ med.medQty }}</td>
                        <td>{{ med.cost }}</td>
                        <td>
                            <button class="delete-btn" ng-click="removeOTCMedicine($index)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div>
                <select ng-model="selectedOTCMedicine"
                    ng-options="medicine as medicine.Med_name for medicine in otcMedicines">
                    <option value="">Select OTC Medicine</option>
                </select>
                <input type="number" ng-model="otcMedQuantity" placeholder="Quantity">
                <button ng-click="addOTCMedicine()">Add</button>
            </div>
            <br>
            <h4><label>Total Cost: {{ getTotalCost() }}</label></h4>
            <button style="background-color: blue; color: white;" ng-click="markAsPaid()">Paid</button>
            <button style="background-color: red; color:white;" ng-click="clearBillingTable()">Clear Billing
                Table</button>
        </div>
    </div>

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("Page1").style.display = "block";

        var app = angular.module('myApp', []);

        app.controller('TableController1', function ($scope, $http) {
            function fetchNotifications() {
                $http.get('/api/notifications')
                    .then(function (response) {
                        angular.forEach(response.data, function (item, index) {
                            item.number = index + 1;
                            item.notificationId = item[0];
                            item.priority = item[1];
                            item.detail = item[2];
                        });
                        $scope.notifs = response.data;
                    })
                    .catch(function (error) {
                        console.error('Error fetching notifications:', error);
                    });
            }

            fetchNotifications();

            $scope.addNotif = function () {
                var newData = {
                    detail: $scope.newNotif.detail,
                    priority: $scope.newNotif.priority
                };

                $http.post('/api/add_notification', newData)
                    .then(function (response) {
                        fetchNotifications();
                        $scope.newNotif = {};
                    })
                    .catch(function (error) {
                        console.error('Error adding notification:', error);
                    });
            };

            $scope.markAsCompleted = function (notificationId) {
                $http.post('/api/mark_as_completed', { notificationId: notificationId })
                    .then(function (response) {
                        fetchNotifications();
                    })
                    .catch(function (error) {
                        console.error('Error marking as completed:', error);
                    });
            };
        });

        function openSubTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.querySelectorAll('#Page2 > div > div');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById('tab1Button').addEventListener('click', function (event) {
            openSubTab(event, 'Tab1');
        });
        document.getElementById('tab2Button').addEventListener('click', function (event) {
            openSubTab(event, 'Tab2');
        });
        document.getElementById('tab3Button').addEventListener('click', function (event) {
            openSubTab(event, 'Tab3');
        });
        document.getElementById('tab4Button').addEventListener('click', function (event) {
            openSubTab(event, 'Tab4');
        });
        document.getElementById('tab5Button').addEventListener('click', function (event) {
            openSubTab(event, 'Tab5');
        });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        app.controller('TableController2', function ($scope, $http) {
            function fetchDoctors() {
                $http.get('/api/doctor')
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var doctor = {
                                doc_id: item[0],
                                doc_name: item[1],
                                doc_mobile: item[2],
                                doc_work_address: item[3],
                                doc_speciality: item[4]
                            };
                            transformedData.push(doctor);
                        });
                        $scope.doctor = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error fetching doctors:', error);
                    });
            }
            fetchDoctors();
            $scope.addDoctor = function () {
                var newDoctorData = {
                    doc_id: $scope.newDoc.doc_id,
                    doc_name: $scope.newDoc.doc_name,
                    doc_mobile: $scope.newDoc.doc_mobile,
                    doc_work_address: $scope.newDoc.doc_work_address,
                    doc_speciality: $scope.newDoc.doc_speciality
                };

                $http.post('/api/add_doctor', newDoctorData)
                    .then(function (response) {
                        if (response.data.message == 'Doctor with ID already exists') {
                            alert('Doctor with ID already exists')
                        };
                        fetchDoctors();
                        $scope.newDoc = {};
                    })
                    .catch(function (error) {
                        console.error('Error adding doctor:', error);
                    });
            };

            $scope.deleteDoctor = function (docId) {
                if (confirm("Are you sure you want to delete this doctor?")) {
                    $http.post('/api/delete_doctor/', { doc_id: docId })
                        .then(function (response) {
                            fetchDoctors();
                        })
                        .catch(function (error) {
                            console.error('Error deleting doctor:', error);
                        });
                }
            };
        });

        app.controller('TableController3', function ($scope, $http) {
            function fetchPatients() {
                $http.get('/api/patient')
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var patient = {
                                patient_id: item[0],
                                patient_name: item[1],
                                patient_mobile: item[2],
                                patient_address: item[3],
                                sex: item[4]
                            };
                            transformedData.push(patient);
                        });
                        $scope.patients = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error fetching patients:', error);
                    });
            }
            fetchPatients();

            $scope.addPatient = function () {
                var newPatientData = {
                    patient_id: $scope.newPatient.patient_id,
                    patient_name: $scope.newPatient.patient_name,
                    patient_mobile: $scope.newPatient.patient_mobile,
                    patient_address: $scope.newPatient.patient_address,
                    sex: $scope.newPatient.sex
                };

                $http.post('/api/add_patient', newPatientData)
                    .then(function (response) {
                        if (response.data.message == 'Patient with ID already exists') {
                            alert('Patient with ID already exists');
                        }
                        fetchPatients();
                        $scope.newPatient = {};
                    })
                    .catch(function (error) {
                        console.error('Error adding patient:', error);
                    });
            };

            $scope.deletePatient = function (patientId) {
                if (confirm("Are you sure you want to delete this patient?")) {
                    $http.post('/api/delete_patient/', { patient_id: patientId })
                        .then(function (response) {
                            fetchPatients();
                        })
                        .catch(function (error) {
                            console.error('Error deleting patient:', error);
                        });
                }
            };
        });

        app.controller('TableController4', function ($scope, $http) {
            function fetchSuppliers() {
                $http.get('/api/suppliers')
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var supplier = {
                                supplier_id: item[0],
                                supplier_name: item[1],
                                supplier_location: item[2]
                            };
                            transformedData.push(supplier);
                        });
                        $scope.supplier = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error fetching suppliers:', error);
                    });
            }

            fetchSuppliers();

            $scope.addSupplier = function () {
                var newSupplierData = {
                    supplier_id: $scope.newSup.supplier_id,
                    supplier_name: $scope.newSup.supplier_name,
                    supplier_location: $scope.newSup.supplier_location
                };

                $http.post('/api/add_supplier', newSupplierData)
                    .then(function (response) {
                        if (response.data.message == 'Supplier with ID already exists') {
                            alert('Supplier with ID already exists');
                        }
                        fetchSuppliers();
                        $scope.newSup = {};
                    })
                    .catch(function (error) {
                        console.error('Error adding supplier:', error);
                    });
            };

            $scope.deleteSupplier = function (supplierId) {
                if (confirm("Are you sure you want to delete this supplier?")) {
                    $http.post('/api/delete_supplier/', { supplier_id: supplierId })
                        .then(function (response) {
                            fetchSuppliers();
                        })
                        .catch(function (error) {
                            console.error('Error deleting supplier:', error);
                        });
                }
            };
        });

        app.controller('TableController5', function ($scope, $http) {
            function fetchMedicines() {
                $http.get('/api/medicines')
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var medicine = {
                                Med_id: item[0],
                                Med_name: item[1],
                                Med_company: item[2],
                                Med_cost_unit: item[3],
                                Med_type: item[4],
                                Is_OTC: item[5]
                            };
                            transformedData.push(medicine);
                        });
                        $scope.medicines = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error fetching medicines:', error);
                    });
            }

            fetchMedicines();

            $scope.addMedicine = function () {
                var newMedicineData = {
                    Med_id: $scope.newMed.Med_id,
                    Med_name: $scope.newMed.Med_name,
                    Med_company: $scope.newMed.Med_company,
                    Med_cost_unit: $scope.newMed.Med_cost_unit,
                    Med_type: $scope.newMed.Med_type,
                    Is_OTC: $scope.newMed.Is_OTC
                };

                $http.post('/api/add_medicine', newMedicineData)
                    .then(function (response) {
                        if (response.data.message == 'Medicine with ID already exists') {
                            alert('Medicine with ID already exists');
                        }
                        fetchMedicines();
                        $scope.newMed = {};
                    })
                    .catch(function (error) {
                        console.error('Error adding medicine:', error);
                    });
            };

            $scope.deleteMedicine = function (medId) {
                if (confirm("Are you sure you want to delete this medicine?")) {
                    $http.post('/api/delete_medicine/', { Med_id: medId })
                        .then(function (response) {
                            fetchMedicines();
                        })
                        .catch(function (error) {
                            console.error('Error deleting medicine:', error);
                        });
                }
            };
        });

        app.controller('TableController6', function ($scope, $http) {

            $scope.isExpired = function (expiryDate) {
                var today = new Date();
                var expiry = new Date(expiryDate);
                return expiry <= today;
            }

            function fetchBatches() {
                $http.get('/api/batches')
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var batch = {
                                Batch_id: item.Batch_id,
                                Batch_timestamp: new Date(item.Batch_timestamp).toLocaleDateString(), // Assuming Batch_timestamp is a timestamp
                                Supplier_id: item.Supplier_id,
                                Med_id: item.Med_id,
                                Batch_qty: item.Batch_qty,
                                Batch_expiry: new Date(item.Batch_expiry).toLocaleDateString() // Assuming Batch_expiry is a date
                            };
                            transformedData.push(batch);
                        });
                        $scope.batches = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error fetching batches:', error);
                    });
            }

            fetchBatches();

            $scope.addBatch = function () {
                var newBatchData = {
                    Batch_id: $scope.newBatch.Batch_id,
                    Batch_timestamp: 0,
                    Supplier_id: $scope.newBatch.Supplier_id,
                    Med_id: $scope.newBatch.Med_id,
                    Batch_qty: $scope.newBatch.Batch_qty,
                    Batch_expiry: formatDate($scope.newBatch.Batch_expiry)
                };

                $http.post('/api/add_batch', newBatchData)
                    .then(function (response) {
                        fetchBatches();
                        $scope.newBatch = {};
                    })
                    .catch(function (error) {
                        console.error('Error adding batch:', error);
                    });
            };

            $scope.deleteBatch = function (batchId) {
                if (confirm("Are you sure you want to delete this batch?")) {
                    $http.post('/api/delete_batch/', { Batch_id: batchId })
                        .then(function (response) {
                            fetchBatches();
                        })
                        .catch(function (error) {
                            console.error('Error deleting batch:', error);
                        });
                }
            };
        });

        app.controller('TableController7', function ($scope, $http, $rootScope) {
            $scope.patientData = [];

            $scope.checkPatientId = function () {
                var patientId = $scope.patientId;

                $http.get('/api/patient_id_presc?patientId=' + patientId)
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var prescription = {
                                prescriptionId: item[0],
                                doctorId: item[2]
                            };
                            transformedData.push(prescription);
                        });
                        $scope.patientData = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error checking patient ID:', error);
                    });
            };

            $scope.bill = function (prescriptionId) {
                $rootScope.prescriptionId = prescriptionId;
                console.log("Prescription ID to bill:", prescriptionId);
                $rootScope.$broadcast('fetchBillingData');
            };
        });

        app.controller('BillingController', function ($scope, $http, $rootScope) {
            $scope.prescData = [];
            $scope.otcMedicines = [];
            $scope.addedotcmeds = [];

            $rootScope.$on('fetchBillingData', function () {
                console.log('Fetching billing data...');
                $scope.fetchBillingData();
            });

            $scope.fetchBillingData = function () {
                var prescriptionId = $rootScope.prescriptionId;
                if (!prescriptionId) return;
                $http.get('/api/presc_details?prescId=' + prescriptionId)
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var prescriptionDetail = {
                                medId: item[1],
                                medQty: item[2],
                                cost: item[3]
                            };
                            transformedData.push(prescriptionDetail);
                        });
                        $scope.prescData = transformedData;
                        $scope.fetchMedicines();
                    })
                    .catch(function (error) {
                        console.error('Error fetching prescription_details data:', error);
                    });
            };

            $scope.fetchMedicines = function () {
                $http.get('/api/essential_medicines?essMeds=' + $scope.prescData.map(function (detail) {
                    return detail.medId;
                }).join(','))
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var medicine = {
                                Med_id: item[0],
                                Med_name: item[1],
                                Med_cost_unit: item[3],
                            };
                            transformedData.push(medicine);
                        });
                        angular.forEach($scope.prescData, function (prescItem) {
                            var matchedMedicine = transformedData.find(function (medicineItem) {
                                return medicineItem.Med_id === prescItem.medId;
                            });
                            if (matchedMedicine) {
                                prescItem.medName = matchedMedicine.Med_name;
                            }
                        });
                    })
                    .catch(function (error) {
                        console.error('Error fetching medicine names:', error);
                    });
            };

            $scope.fetchOTCMedicines = function () {
                $http.get('/api/otc_medicines')
                    .then(function (response) {
                        var transformedData = [];
                        angular.forEach(response.data, function (item) {
                            var medicine = {
                                Med_id: item[0],
                                Med_name: item[1],
                                Med_cost_unit: item[3]
                            };
                            transformedData.push(medicine);
                        });
                        $scope.otcMedicines = transformedData;
                    })
                    .catch(function (error) {
                        console.error('Error fetching OTC medicines:', error);
                    });
            };

            $scope.fetchOTCMedicines();

            $scope.addOTCMedicine = function () {
                var selectedMedicine = $scope.selectedOTCMedicine;
                var quantity = $scope.otcMedQuantity;
                if (!selectedMedicine || !quantity) return;

                var cost = selectedMedicine.Med_cost_unit * quantity;

                var medicineToAdd = {
                    medId: selectedMedicine.Med_id,
                    medName: selectedMedicine.Med_name,
                    medQty: quantity,
                    cost: cost
                };

                $scope.addedotcmeds.push(medicineToAdd);
                $scope.selectedOTCMedicine = null;
                $scope.otcMedQuantity = null;
            };

            $scope.removeOTCMedicine = function (index) {
                $scope.addedotcmeds.splice(index, 1);
            };

            $scope.getTotalCost = function () {
                var totalCost = 0;
                $scope.prescData.forEach(function (bill) {
                    totalCost += bill.cost;
                });
                $scope.addedotcmeds.forEach(function (med) {
                    totalCost += med.cost;
                });
                return totalCost;
            };

            $scope.clearBillingTable = function () {
                $scope.prescData = [];
                $scope.addedotcmeds = [];
            };

            $scope.markAsPaid = function () {
                var totalCost = $scope.getTotalCost();
                var prescriptionId = $rootScope.prescriptionId;
                $http.post('/api/add_bill', { Total_cost: totalCost, Presc_id: prescriptionId })
                    .then(function (response) {
                        console.log('Bill marked as paid:', response.data);
                    })
                    .catch(function (error) {
                        console.error('Error marking bill as paid:', error);
                    });
            };


        });

    </script>

</body>

</html>